BACKEND_URL=https://medicare-three-hazel.vercel.app
NEXT_PUBLIC_AUTH_BASE_URL=http://localhost:3000/api/auth  ## client side auth url
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_HOSTING_IMG_KEY=*****************************

STRIPE_PUBLIC_KEY=***************************************************